* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "DeterminationSansWebRegular";
    src: url("/fonts/DeterminationSansWebRegular-369X.ttf");
}

body {
    background-image: url("images/bf2d9f2e-05a9-4ee9-9364-6d15926d93ce.png");
    font-family: "DeterminationSansWebRegular", sans-serif;
    color: #ffffff;
    overflow: hidden;
    height: 100%;
}

ul {
    list-style: none;
    line-height: 25px;
}

a {
    color: #aa4664;
}

a:hover {
    color: #efaea5;
}

a:visited {
    color: #ac8294;
}

a:visited:hover {
    color: #efaea5;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 5px;
    color: #ffffff;
}

p {
    margin-bottom: 5px;
}

.buttons {
    width: 40px;
    height: 20px;
    margin-left: 640px;
}

.horizontal {
    width: 700px;
    border: 2px solid #000000;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.main {
    width: 700px;
    height: 900px;
    background-color: #33312d;
    background-image: url("images/background4neocities.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.icon {
    width: 200px;
    height: 200x;

    position: absolute;
    margin-top: 20px;
}

.icon2 {
    width: 200px;
    height: 200x;

    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-left: 40px;
    float: right;
}


.head {
    width: 450px;
    height: 50px;
    border-bottom: 2px solid #4e4342;
    float: right;
    margin-top: 20px;
    font-size: 48px;
    color: #ffffff;
}

.box1 {
    width: 450px;
    height: 150px;
    border: 2px solid #2e3031;
    float: right;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    align-content: center;
}

.box2 {
    width: 200px;
    height: 200px;
    border: 2px solid #2e3031;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    margin-top: 230px;
    background-color: #000000;
    padding: 10px;
    align-content: center;
    color: #80a2c6;
}

.horizontal2 {
    width: 175px;
    border: 2px solid #2e3031;
    box-sizing: border-box;
}

.box3 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid #2e3031;
    border-radius: 5px;
    position: absolute;
    margin-top: 649px;
    background-color: #000000;
    background-image: url("images/download-ezgif.com-resize.gif");
    padding: 10px;
    align-content: center;
}

.box4 {
    width: 450px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid #2e3031;
    border-radius: 5px;
    margin-top: 17px;
    float: right;
    background-color: #000000;
    padding: 10px;
    align-content: center;
    background-image: url("images/Ecco\ the\ Dolphin\ -\ Imgur.gif");
    background-size: cover;
}

.box5 {
    width: 450px;
    height: 60px;
    border: 2px solid #2e3031;
    border-radius: 5px;
    box-sizing: border-box;
    float: right;
    margin-top: 15px;
    background-color: #d8d2c2;
    padding: 10px;
    align-content: center;
}

.box6 {
    width: 450px;
    height: 219px;
    border: 2px solid #2e3031;
    border-radius: 5px;
    box-sizing: border-box;
    float: right;
    background-color: #000000;
    margin-top: 15px;
    color: #ffffff;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

/* Ensure the Webamp mount fills and centers inside the box */
#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: px; /* Adjust for padding */
}